
<ion-content padding>
  <img class="netflix-logo" src="assets/netflix-logo.png">

  <ion-fab top right>
    <button ion-fab mini color="netflix"><ion-icon name="settings"></ion-icon></button>
    <ion-fab-list>
      <button clear ion-fab (click)="setDanish()">
        <img src="assets/dk.svg">
      </button>
      <button clear ion-fab (click)="setEnglish()">
        <img src="assets/uk.svg">
      </button>
    </ion-fab-list>
  </ion-fab>

  <ion-slides class="film-slider" #filmSlider (ionSlideWillChange)="sliderWillChange($event)">
      <ion-slide *ngFor="let film of featuredFilms" [style.background-image]="'url(' + film.FeaturedImage + ')'">
        <ion-grid>
          <ion-row>
            <ion-col width-80>
              <div>
                <h6>{{film.Title}}</h6>
              </div>
            </ion-col>
            <ion-col width-20>

            </ion-col>
          </ion-row>
        </ion-grid>

        <img class="play-icon" src="assets/play.svg">
      </ion-slide>
  </ion-slides>

    <div class="slider-pagination">
      <svg height="15" width="15" *ngFor="let color of paginationColors">
        <circle cx="7.5" cy="7.5" r="6" [style.fill]="color" />
      </svg>
    </div>

  <ion-grid class="film-group">
      <ion-row>
        <ion-col width-67>
          <h1>{{'TREND' | translate}}</h1>
        </ion-col>
        <ion-col>
          <h5>{{'MORE' | translate}}</h5>
        </ion-col>
      </ion-row>

    <ion-row *ngFor="let trendingRow of trending">
      <ion-col
        (click)="openFilmDetailModal(trendingFilm.imdbID)"
        width-50 *ngFor="let trendingFilm of trendingRow"
        [style.background-image]="'url(' + trendingFilm.Poster + ')'">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="film-group" >
      <ion-row>
        <ion-col width-67>
          <h1>{{'TOP' | translate}}</h1>
        </ion-col>
        <ion-col>
          <h5>{{'MORE' | translate}}</h5>
        </ion-col>
      </ion-row>

    <ion-row *ngFor="let topPicRow of topPicks">
      <ion-col
        (click)="openFilmDetailModal(topPicFilm.imdbID)"
        width-50
        *ngFor="let topPicFilm of topPicRow"
        [style.background-image]="'url(' + topPicFilm.Poster + ')'">
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
