page-film-detail {
    
    ion-content{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        div.overlay{
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.5;
            z-index: -1;
        }

        div.close-icon {
            background: url("../assets/cancel.svg");
            width: 12vw;
            height: 12vw;
            padding: 5vw;
            position: absolute;
            top: 5vw;
            left: 5vw;
            background-color: rgba(0,0,0, 0.5); 
            background-repeat: no-repeat;
            background-size: 40% 40%;
            background-position: center center;
            border-radius: 50%;
        }

        div.film-details {
            width: 100%;
            position: absolute;
            bottom: 0;
            padding: 10px;

            div.play-icon {
                width: 20vw;
                height: 20vw;
                margin-left: 40vw;
                background-image: url("../assets/play.svg");
                background-size: 100% 100%;
                background-position: center center;
                background-repeat: no-repeat;
            }

            h1.general-header{
                margin-top: -1.5rem;
            }

            h4.film-short-info {
                margin: 0;
                font-size: 1.6rem;
                line-height: 1.8rem;
                color: map-get($colors, small-print);
            }

            ul {
                padding: 0px;
                margin-left: -8px;
                margin-bottom: 2rem;

                &.rating li {
                    background: none;
                    color: map-get($colors, netflix);

                    ion-icon {
                        font-size: 20px;
                    }
                }
            }

            ion-row.user-options {
                margin-top: -1rem;

               ion-col {
                    text-align: center;
                    font-size: 1.2rem;
                    margin-top: 0.2rem;

                    button {
                        margin-bottom: -0.3rem;
                    }        
                } 
            }

            p.film-description{
                margin-top: -1.25rem;
                margin-bottom: 2rem;
                font-size: 1.7rem;
                line-height: 1.7rem;
                color: map-get($colors, white);
                font-weight: 500;
            }
            
            p.film-cast {
                margin-top: -1.25rem;
                font-size: 1.35rem;
                line-height: 1.7rem;
                color: map-get($colors, small-print);
                text-align: left;
            }
        }
    }

}
